exportPattern("^[[:alpha:]]+")

importFrom(sfsmisc,digitsBase)

importFrom(tseries,jarque.bera.test)

importFrom(kSamples,ad.test)

importFrom(MissMech,AndersonDarling)

importFrom(LambertW,W)

importFrom(gmp,Stirling2)

importFrom(Rmpfr,mpfr)

importFrom(Rmpfr,mpfrArray)

importFrom(parallel,makePSOCKcluster)

importFrom(parallel,setDefaultCluster)
importFrom(parallel,clusterExport)

importFrom(parallel,parLapply)

importFrom(parallel,stopCluster)

importFrom("stats", "chisq.test", "dpois", "ks.test", "pchisq","rnorm", "runif")

importFrom("methods", "new")

importFrom("utils", "write.table")

S3method(adaptive.chi.square,default)

S3method(birthday.spacings,default)

S3method(book.stack,default)

S3method(GCD.test,default)

S3method(random.walk.tests,default)
S3method(topological.binary,default)


S3method(adaptive.chi.square,main)

S3method(birthday.spacings,main)

S3method(book.stack,main)

S3method(GCD.test,main)

S3method(random.walk.tests,main)
S3method(topological.binary,main)

S3method(print,CryptRndTest)
